.clearfix::before,
.clearfix::after {
  clear: both;
  display: table;
  content: '';
}
body {
  background-color: #ffbb00;
  font-family: Arial;
  font-weight: bold;
  padding-bottom: 10vw;
}
.title {
  display: block;
  width: max(8vw, 100px);
  height: max(3vw, 40px);
  background-color: #000000;
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: min(-1.5vw, -20px);
  text-align: center;
  line-height: max(3vw, 40px);
  font-size: max(1.5vw, 20px);
  color: #ffffff;
  z-index: 100;
  position: relative;
}
.center {
  width: 80vw;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: max(1vw, 20px);
  padding-bottom: max(1vw, 20px);
  z-index: 10;
  position: relative;
}
.center h1 {
  font-size: max(4vw, 30px);
  font-weight: bold;
  margin: 0 auto;
  margin-top: 1vw;
}
.center .title_underline {
  width: 10vw;
  height: 2px;
  background-color: #000000;
  margin: 1vw auto;
}
.center .brief {
  display: block;
  width: max(24vw, 250px);
  margin: 1vw auto;
  font-size: max(0.9vw, 12px);
}
.center img {
  width: 90%;
  max-height: 80vh;
  object-fit: cover;
  vertical-align: top;
}
.center table {
  width: 90%;
  height: max(8vw, 40px);
  margin: 0 auto;
  margin-top: min(-8vw, -40px);
  background-color: rgba(255, 192, 0, 0.7);
  position: relative;
}
.center .attribute {
  margin-top: 2vw;
  font-size: max(1.5vw, 12px);
  color: #000000;
}
.center .attribute a {
  text-decoration: none;
  color: #ffbb00;
}
@media all and (min-width: 550px) {
  table tr th,
  table tr td {
    line-height: max(4vw, 20px);
    font-size: max(2vw, 15px);
    color: #ffffff;
  }
  .bottom {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .bottom div {
    width: 45%;
    height: 100%;
  }
  .bottom div h2 {
    display: block;
    font-size: max(2.5vw, 20px);
    margin-top: max(1vw, 4px);
    margin-bottom: max(1vw, 4px);
  }
  .bottom div .underline {
    width: 100%;
    height: max(0.5vw, 5px);
    margin-bottom: max(2vw, 8px);
    background-color: #ffbb00;
  }
  .bottom .ingredient ul {
    display: block;
    width: 100%;
  }
  .bottom .ingredient ul li {
    width: 90%;
    height: max(4.6vw, 36px);
    margin: 0 auto;
    margin-bottom: max(0.2vw, 4px);
    line-height: max(4.6vw, 36px);
    text-align: center;
    border: 1px solid #b0b0b0;
    font-size: max(2vw, 14px);
  }
  .bottom .instruction ul {
    display: block;
    width: 100%;
  }
  .bottom .instruction ul li {
    width: 90%;
    margin: 0 auto;
    margin-bottom: max(1.5vw, 12px);
  }
  .bottom .instruction ul li div {
    float: left;
    width: max(4vw, 30px);
    height: max(4vw, 30px);
    border-radius: max(2vw, 15px);
    line-height: max(4vw, 30px);
    background-color: #ffbb00;
    font-size: max(2vw, 20px);
    color: #ffffff;
  }
  .bottom .instruction ul li span {
    float: left;
    width: max(20vw, 95px);
    margin-left: max(2vw, 10px);
    line-height: max(2vw, 15px);
    font-size: max(1.5vw, 12px);
  }
}
@media all and (max-width: 550px) {
  .center {
    width: 95vw;
  }
  table tr th,
  table tr td {
    line-height: max(4vw, 20px);
    font-size: max(2vw, 10px);
    color: #ffffff;
  }
  .bottom {
    width: 90%;
    margin: 0 auto;
  }
  .bottom div {
    width: 100%;
  }
  .bottom div h2 {
    display: block;
    font-size: max(2.5vw, 20px);
    margin-top: max(1vw, 4px);
    margin-bottom: max(1vw, 4px);
  }
  .bottom div .underline {
    width: 100%;
    height: max(0.5vw, 5px);
    margin-bottom: max(2vw, 8px);
    background-color: #ffbb00;
  }
  .bottom .ingredient ul {
    display: block;
    width: 100%;
    height: max(26vw, 220px);
  }
  .bottom .ingredient ul li {
    width: 90%;
    height: max(4.6vw, 36px);
    margin: 0 auto;
    margin-bottom: max(0.2vw, 4px);
    line-height: max(4.6vw, 36px);
    text-align: center;
    border: 1px solid #b0b0b0;
    font-size: max(2vw, 14px);
  }
  .bottom .instruction ul {
    display: block;
    width: 100%;
  }
  .bottom .instruction ul li {
    width: 90%;
    margin: 0 auto;
    margin-bottom: max(1.5vw, 12px);
  }
  .bottom .instruction ul li div {
    float: left;
    width: max(4vw, 30px);
    height: max(4vw, 30px);
    border-radius: max(2vw, 15px);
    line-height: max(4vw, 30px);
    background-color: #ffbb00;
    font-size: max(2vw, 20px);
    color: #ffffff;
  }
  .bottom .instruction ul li span {
    float: left;
    width: 65vw;
    margin-left: 2vw;
    line-height: max(2vw, 15px);
    font-size: max(2vw, 15px);
  }
}
/*# sourceMappingURL=./recipe.css.map */